# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config
#
# See the README for full descriptions of each of the
# available configurations.

# SECRET_KEY is a crucial component of your Django project's security.
SECRET_KEY=your Django SECRET_KEY

# DEBUG setting controls whether your Django application is in debug mode.
DEBUG=True

# A PostgreSQL connection string
DATABASE_URL=your DB URL

# Ensures that the CSRF cookie is only sent over HTTPS connections.
CSRF_COOKIE_SECURE=True

# Ensures that the session cookie is only sent over HTTPS connections.
SESSION_COOKIE_SECURE=True

# Redirects all non-HTTPS requests to HTTPS.
SECURE_SSL_REDIRECT=True

# Sets the duration (in seconds) that the browser should remember to only access the site over HTTPS.
SECURE_HSTS_SECONDS=31536000

# Another security settings
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
SECURE_CONTENT_TYPE_NOSNIFF=True
