{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %} Dish detail {% endblock title %}

{% block body %} class="bg-gray-100" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}
  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <h2 class="mb-0">Dish Detail Information</h2>
          <div class="row py-lg-7 py-5">
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ dish.name}}</h4>
                <form method="post" action="{% url 'dish:dish-cook-update' pk=dish.id %}">
                  {% csrf_token %}
                  {% if user in dish.cooks.all %}
                    <div class="d-block">
                      <button type="submit" class="btn btn-sm btn-outline-info text-nowrap mb-0">
                        Delete me from this dish
                      </button>
                    </div>
                  {% else %}
                    <div class="d-block">
                      <button type="submit" class="btn btn-sm btn-outline-info text-nowrap mb-0">
                        Assign me to this dish
                      </button>
                    </div>
                  {% endif %}
                </form>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ dish.price }}</span>
                  <span>Price</span>
                </div>
                <div class="col-auto">
                  <span class="h6">{{ dish.dish_type.name }}</span>
                  <span>Dish Type</span>
                </div>
              </div>
              <p class="text-lg mb-0">
                {{ dish.description}}
              </p>
              <br>
              {% for cook in dish.cooks.all %}
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="mb-0">
                      <a href="{% url 'cook:cook-detail' pk=cook.id %}">{{ cook.username}}</a></h4>
                </div>
                <div class="row mb-4">
                  <div class="col-auto">
                    <span class="h6">{{ cook.first_name }} {{ cook.last_name }}</span>
                  </div>
                  <div class="col-auto">
                    <span class="h6">{{ cook.years_of_experience }}</span>
                    <span>Years of experience</span>
                  </div>
                </div>
                <hr>
                <br>
              {% endfor %}
                <div class="d-block">
                  <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0">
                    <a href="{% url 'dish:dish-update' pk=dish.id %}">Update Dish</a>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0">
                    <a href="{% url 'dish:dish-delete' pk=dish.id %}">Delete Dish</a>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
